@import 'variables.less';
@import 'prefixer.less';
@import 'mixins.less';

//Box Sizing by Default - http://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
html { 
	.border-box;
	height     : 100%;
}
*, *:before, *:after { box-sizing: inherit; }

body { 
	position                   : relative;
	color                      : @black;
	line-height                : 130%;
	min-height                 : 100%;
	font-size                  : @regular-text; 
	margin                     : 0; 
	background-color           : @gray-light;  
	font-family                : 'Roboto', sans-serif;
	overflow-x                 : hidden;
	-webkit-font-smoothing     : antialiased;
	text-rendering             : optimizeLegibility;
	-moz-osx-font-smoothing    : grayscale;
	-moz-font-feature-settings : "liga" on;
	&.no-scroll { overflow: hidden; }
}

h1, h2, h3, h4, h5, h6 { font-weight: 500; }

h4, h5, h6 { margin: 0.5rem 0; }


//Clear Floats
.group:after {
	content : "";
	display : table;
	clear   : both;
}

//Text 
.first-letter-caps { 
	display: inline-block; 
	&::first-letter { text-transform: uppercase; }
}
.ellipsis{
	white-space   : nowrap;
	overflow      : hidden;
	text-overflow : ellipsis;
}
.capitalize { text-transform: capitalize; }
.uppercased { text-transform: uppercase; }

//Center Stuff
.center-in-parent {
	position  : absolute;
	top       : 50%;
	left      : 50%;
	transform : translate3d(-50%,-50%,0);
}

//Link Styling
a {
	text-decoration : none;
	color           : @primary;
}

//Max width of content
.content-wrapper {
	margin    : 0 auto;
	max-width : 1170px;
}

//Visibility
.hide { display: none !important; }

//Component cards
.card {
	margin     : 20px 0;
	background : #fff;
	.border-radius(2px);
	.box-shadow(0px 2px 4px 0px rgba(0,0,0,0.5));
}

//Buttons
button {
	border           : 0;
	outline          : 0;
	background-color : @primary;
	color            : #fff;
	font-size        : @big-text - 2;
	line-height      : @big-text + 4;
	height           : @button-height;
	width            : @button-width;
	cursor           : pointer;
	.border-radius(2px;);
}


#app-container { padding-top: @header-height; }

//Layout
.content-column { 
	float  : left; 
	margin : 0;
}
.content-column--half { width: 50%; }
.content-column--rightPad { padding-right: 12px; }
.content-column--leftPad { padding-left: 12px; }

//Forms
form {
	width: 100%;
	.form-element-wrapper {
		margin : 15px 0;
		.subtext { margin-bottom: 5px; }
		input, select {
			width       : 100%;
			background  : @gray-light;
			border      : 0;
			outline     : 0;
			font-size   : @regular-text + 2;
			height      : 40px;
			line-height : 40px;
			padding     : 0 15px;
			.border-radius(2px);
		}
		&:last-of-type { margin-bottom: 25px; }
	}
}
