.background-image-ret(@normal_url,@retina_url){
	background-image: url(@normal_url);
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 
  
	  	background-image: url(@retina_url);
	}
}

.position(@position: relative, @top: auto, @right: auto, @bottom: auto, @left: auto){
	position : @position;
	top      : @top;
	right    : @right;
	bottom   : @bottom;
	left     : @left;
}