//Color Palette
@primary    : #166373;
@secondary  : #F5A623;
@gray       : #9B9B9B;
@gray-light : #EEE;
@black      : #333333;
@red        : #8B0202;
@orange     : #F5A623;

//FontSizes
@huge-text    : 24px;
@big-text     : 18px;
@regular-text : 14px;
@small-text   : 12px;

//Animation Related Stuff
@animation-time-default : 0.2s;
@animation-easing       : ease-in-out;

//Dimensions
@header-height      : 80px;
@button-height      : 35px;
@button-width       : 220px;
@profile-pic-height : 165px;
