.availability {
	padding: 20px 0;
	.heading {
		font-size     : @huge-text;
		padding       : 0 20px 20px;
		border-bottom : 1px solid @primary;
	}
}

ul.availability-list {
	float      : left;
	list-style : none;
	width      : 50%;
	.list-header {
		font-size   : 18px;
		line-height : 25px;
	}
	&[type='weekday'] { padding: 0 10px 0 20px; }
	&[type='weekend'] { padding-left: 0 20px 0 10px; }
}

.availability-item {
	margin : 20px 0;
	color  : @red;
	cursor : pointer;
	.transition(all 0.15s ease-in-out);
	&:last-of-type { margin-bottom: 0; }
	&:nth-child(2) { margin-top: 10px; }

	.box {
		float       : left;
		height      : 72px;
		width       : 72px;
		border      : 1px solid @gray;
		text-align  : center;
		font-size   : 40px;
		line-height : 5px;
		color       : @gray;
		.border-radius(2px);
		.transition(all 0.15s ease-in-out);
	}
	.text { 
		float  : left; 
		width  : 140px;
		margin : 18px 0 0 15px;
	}

	.time { 
		font-size      : @regular-text - 2; 
		text-transform : capitalize;
	}

	.fa { margin-top: 7px; }

	&.active {
		color        : @primary;
		.box { 
			border-color : @primary;
			background-color: @primary; 
			color: #fff; 
		}
	}
}

