.experience {
	padding: 20px 0;
	.heading {
		font-size     : @huge-text;
		padding       : 0 20px 20px;
		border-bottom : 1px solid @primary;
	}

	.form-box {
		padding : 20px 20px 0;
	}

	.action-required {
		font-size     : @big-text;
		color         : @orange;
		margin-bottom : 5px;
	}
	.message {
		display     : block;
		width       : 170px;
		font-weight : 300;
		line-height : @big-text;
	}

	.action-box, .upload-section {
		float : left;
		width : 50%;
	}
	.action-box { padding-right: 10px; }
	.upload-section { padding-left: 10px; }

	.seperator {
		position   : relative;
		height     : 1px;
		background : @gray;
		margin     : 35px 0 25px;
		&::before {
			content     : "OR";
			color       : @gray;
			padding     : 5px;
			background  : #fff;
			font-size   : @big-text;
			font-weight : 300;
			.position(absolute, 50%, auto, auto, 50%);
			.transform(translate3d(-50%, -50%, 0));
		}
	}

	button { width: 100%; }

	.warning-icon { 
		font-size: 34px;
    	vertical-align: middle;
    	margin-right: 10px;
   	}
}