.geosuggest { position: relative; }
.geosuggest__icon {
	color     : @gray;
	font-size : 30px;
	.position(absolute, 23px, auto, auto, 15px); 
}
.geosuggest__input {
	display     : block;
	width       : 100%;
	font-size   : @regular-text+2;;
	height      : @header-height;
	line-height : @header-height;
	font-weight : 300;
	border      : 0;
	outline     : 0;
	margin      : 0;
	padding     : 0 40px 0 60px;
	cursor      : pointer;
}

.geosuggest__suggests {
	background : #fff;
	list-style : none;
	text-align : left;
	margin     : 0;
	padding    : 0;
	.box-shadow(0px 2px 4px 0px rgba(0,0,0,0.5));
	.position(absolute,100%, 0, auto, 0);
}
.geosuggest__suggests--hidden { display: none; }

.geosuggest-item {
	font-size     : @regular-text+2;
	line-height   : @regular-text+4;
	padding       : 10px 15px;
	border-bottom : 1px solid @gray-light;
	cursor        : pointer;
	&:last-of-type { border-bottom: 0; }
	&:hover {
		background-color : @primary;
		color            : #fff;
	}
}

.geosuggest-item--active {
	background-color : @primary;
	color            : #fff;
}