header {
	background-color : #fff;
	.position(fixed, 0, 0, auto, 0);
	.box-shadow(0px 2px 4px 0px rgba(0,0,0,0.5));
	.header-item {
		width        : 15%;
		height       : @header-height;
		line-height  : @header-height;
		border-right : 1px solid @gray-light;
		text-align   : center;
		font-size    : @huge-text;
		color        : @primary;
		float        : left;
		&:last-of-type { border-right: 0; } 
		&.search-box { width: 55%; }
		&.logo { text-align: left; }
		&.jobs, &.profile { font-weight: 300; }
	}
}