.reference {
	padding: 20px 0;
	.heading {
		font-size     : @huge-text;
		padding       : 0 20px 20px;
		border-bottom : 1px solid @primary;
	}
	.form-box {
		padding : 20px 20px 0;
	}

	.action-required {
		font-size     : @big-text;
		color         : @orange;
		margin-bottom : 5px;
	}
	.message {
		display     : block;
		width       : 170px;
		font-weight : 300;
		line-height : @big-text;
	}

	.action-box, .reference-form {
		float : left;
		width : 50%;
	}
	.action-box { padding-right: 10px; }
	.upload-section { padding-left: 10px; }

	button { width: 100%; }

	.relations-list {
		list-style : none;
		padding    : 0;
	}

	.warning-icon { 
		font-size: 34px;
    	vertical-align: middle;
    	margin-right: 10px;
   	}

   	.relation-item {
		float         : left;
		width         : 50%;
		margin-bottom : 10px;
		cursor        : pointer;
		&.active .icon-box{
			background : @primary;
			color      : #fff;
		}
   	}
   	.icon-box { 
		font-size   : 36px; 
		border      : 1px solid @gray;
		height      : 72px;
		width       : 72px;
		line-height : 72px;
		color       : @gray;
		text-align  : center;
		.transition(all 0.15s ease-in-out);
		.border-radius(2px);
   	}
   	.icon-name { width: 72px; text-align: center; }
}