.submitted-applications {
	padding: 20px 0;

	.heading {
		font-size     : @huge-text;
		padding       : 0 20px 20px;
		border-bottom : 1px solid @primary;
	}
}

.applications-list {
	margin     : 0;
	list-style : none;
	padding    : 0 20px;
}

.application {
	font-weight   : 300;
	padding       : 20px 0 5px;
	border-bottom : 1px solid @gray-light;

	.designation, .distance, .status {
		float : left;
		width : 33%;
	}

	.post{
		font-size : @big-text;
		color     : @primary;
	}
	.distance { text-align: center; }
	.status { text-align: right; }
	.distance, .status { margin-top: 19px; }
}

