.user-details {
	padding: 20px;
}

.profile-pic {
	float        : left;
	display      : block;
	height       : @profile-pic-height;
	width        : @profile-pic-height;
	margin-right : 20px;
	.border-radius(50%);
}

.details-box {
	float : left;
	.name {
		font-size     : 30px;
		line-height   : 36px;
		color         : #4a4a4a;
	}
	.detail-line {
		margin    : 20px 0;
		font-size : @regular-text;
		&:last-of-type { margin-bottom: 0; }
	}
	.subtext { color: @gray; }
	.subtext, .text { font-weight: 300; }

	.add-number { margin-top: 5px; }
}